.body-details{
  background-color: #ffcc03;
  height: 100vh;
}
.details-card{
  padding-top: 90px;
  margin-bottom: 50px;
  height: 100vh;
  padding-bottom: 50px;
}
.img-details{
  margin-top: -50px;
  margin-left: 0px;
}
.details-pokemon{
  background-color: white;
  border: none;
  box-shadow: 2px 2px 5px grey;
  margin-bottom: 10px;
}
.pokemon-name{
  color: steelblue;
}
.dtl-title{
  font-size: x-small;
  color: #ffcc03;
}
.dtl-data{
  font-size: small;
  color: seagreen;
}
.catch button{
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.cursor-pointer{
  cursor: pointer;
}

/* mobile view */
@media screen and (max-width: 700px) {
  .details-pokemon{
    height: 58vh;
  }
  .btn-back{
    display: none;
  }
}

/* web view */
@media screen and (min-width: 700px) {
  .details-pokemon{
    height: 70vh;
  }
  .pokemon-name{
    text-align: center;
    margin-bottom: 50px;
  }
  .pokemon-img{
    text-align: center;
  }
  .img-details{
    height: 200px;
  }
  .btn-back{
    color: #ffcc03;
  }
}

