.body{
  background-color: whitesmoke;
}
.search-bar{
  border-color: steelblue;
  border-width: 3px;
  box-shadow: none;
}
.search-bar:focus{
  box-shadow: none !important;
  border-color: steelblue;
}
.list-card{
  margin-top: 100px;
  margin-bottom: 50px;
}
.choose-text{
  text-align: center;
  color: grey;
}
.card-pokemon{
  background-color: #ffcc03;
  border: none;
  /* box-shadow: 2px 2px 10px gray; */
  height: 60px;
  margin-bottom: 20px;
  color: steelblue;
}
.cursor-pointer{
  cursor: pointer;
}
.cursor-pointer:hover{
transform: scale(1.01);
}
.img-pokemon{
  margin-top: -20px;
}